<!doctype html>
<html lang="en">
<head>
    <title>The Gallery</title>
    <meta name="description" content="" />

    {{>head}}
</head>

<body>
    <div class="blocks-page">
        {{>header2}}
		<section style="background:url('{{{page.hero.img_background}}}=s2048');background-size:cover;background-position:center;">
		    <div class="gradient-div py-3" style="height:76vh">
		        <div class="container">
		            <div class="row justify-content-center header-row">
		                <div class="col-12 col-md-8 col-lg-7 text-center text-white">
		                	<img style="width: 160px; border-radius:50%" src="{{{page.hero.img_profile}}}=s320-c">
		                    <h1 class="display-3 mt-4">{{page.hero.greeting}}</h1>
		                    <p class="lead text-white mb-4 mt-1">
		                        {{page.hero.introduction}}
		                    </p>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
        {{>footer}}
    </div>
    {{>scripts}}
</body>
</html>
