<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<img src="{{{image_profile}}}" />
	<h1>{{greeting}}</h1>
	<p>{{introduction}}</p>
	<h3>Programming Languages</h3>
	<ol>
		{{#languages}}
		<li>{{name}}, {{years}} of experience</li>
		{{/languages}}
	</ol>

	{{>form}}
	

</body>
</html>