<!doctype html>
<html lang="en">
<head>
    <title>The Gallery</title>
    <meta name="description" content="" />

    {{>head}}
</head>

<body>
    <div class="blocks-page">
        {{>header2}}
		<section style="background:url('{{{page.hero.img_background}}}');background-size:cover;background-position:center;">
		    <div class="gradient-div py-3" style="height:90vh">
		        <div class="container">
		            <div class="row justify-content-center header-row">
		                <div class="col-12 col-md-8 col-lg-7 text-center text-white">
		                	<img class="mt-4" style="width: 160px; border-radius:50%" src="{{{page.hero.img_profile}}}=s300-c">
		                    <h1 class="display-3 mt-1">{{page.hero.greeting}}</h1>
		                    <p class="lead text-white mb-4 mt-0">
		                        {{page.hero.introduction}} 
		                    </p>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		<!---->
		<section class="py-5 py-md-7">
		    <div class="container py-md-5">
		        <div class="row block-header">
		            <div class="col-sm-8 mx-auto text-center">
		                <h1 class="display-4 mt-2">{{page.projects.header}}</h1>
		                <hr style="width:50%">
		                <p class="lead">{{page.projects.subheader}}</p>
		            </div>
		        </div>
        	<div class="row mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
	        	{{#projects}}      	
	            <div class="col-md-4 col-sm-12 mb-2r">
	                <a href="/project/{{slug}}">
	                    <div class="position-relative project">
	                        <div class="image position-relative ">
	                            <img src="{{{image}}}=s650-c" class="img-fluid w-100 d-block">
	                            <div class="overlay-box">
	                                <div class="overlay-inner overlay-content">
	                                    <h5 class="mb-0">{{name}}</h5>
	                                    <p>{{category}}</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </a>
	            </div>
	            {{/projects}}  
	        </div>
		</section>
        <section class="py-md-5 block">
		    <div class="container">
		        <div class="row block-header">
		            <div class="col-sm-8 mx-auto text-center">
		                <h1 class="display-4 mt-2">Services</h1>
		                <hr>
		                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
		            </div>
		        </div>
		        <div class="row mt-5">
		            <div class="col-md-4 service mb-5 aos-init aos-animate">
		                <img class="icon mr-4" src="{{{page.service.img_1}}}">
		                <div class="content">
		                    <h5>Web Development</h5>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
		                </div>
		            </div>
		            <div class="col-md-4 service mb-5 aos-init aos-animate">
		                <img class="icon mr-4" src="{{{page.service.img_2}}}">
		                <div class="content">
		                    <h5>Video Marketing</h5>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
		                </div>
		            </div>
		            <div class="col-md-4 service mb-5 aos-init aos-animate">
		                <img class="icon mr-4" src="{{{page.service.img_3}}}">
		                <div class="content">
		                    <h5>App Design</h5>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
		                </div>
		            </div>
		            <div class="col-md-4 service mb-5 aos-init aos-animate">
		                <img class="icon mr-4" src="{{{page.service.img_4}}}">
		                <div class="content">
		                    <h5>Graphics Design</h5>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
		                </div>
		            </div>
		            <div class="col-md-4 service mb-5 aos-init aos-animate">
		                <img class="icon mr-4" src="{{{page.service.img_5}}}">
		                <div class="content">
		                    <h5>Digital Marketing</h5>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
		                </div>
		            </div>
		            <div class="col-md-4 service mb-5 aos-init aos-animate">
		                <img class="icon mr-4" src="{{{page.service.img_6}}}">
		                <div class="content">
		                    <h5>Branding Design</h5>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
		                </div>
		            </div>
		        </div>
		    </div>		    
		</section>
		<section class="py-md-5 block text-center contact-block mb-5">
		    <div class="container">
		        <div class="row block-header">
		            <div class="col-sm-8 mx-auto text-center">
		                <h1 class="display-4 mt-2 section-title">{{page.contact.header}}</h1>
		                <hr>
		                <p class="lead">{{page.contact.subheader}}</p>
		            </div>
		        </div>
		        <div class="row mt-5">
		            <form class="col-md-4 col-xl-4 mx-auto input-border">
		                <div class="form-group">
		                    <input type="text" class="form-control form-control-lg" placeholder="Name">
		                </div>
		                <div class="form-group">
		                    <input type="text" class="form-control form-control-lg" placeholder="Email">
		                </div>
		                <div class="form-group">
		                    <input type="password" class="form-control form-control-lg" placeholder="Message">
		                </div>
		                <button class="btn btn-block btn-lg btn-info">SEND</button>
		            </form>
		        </div>
		    </div>
		</section>
		{{>footer}}
    </div>
    {{>scripts}}
</body>
</html>
